.in-build{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: $padding-medium;
    margin-top: $padding-medium;
    padding: $padding-small;
    .image{
        margin-top: $padding-xs;
    }
    .text{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .text svg{
        font-size: 1.5rem;
        margin-right: .2rem;
    }
    .headline{
        color: $color-accent2;
    }
    .container {
        display: flex;  
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        
    }
}

@media screen and (min-width: $media-medium) {
    .in-build{
        .text{
            text-align: center;
            svg{
                margin: $padding-xs;
            }
        }
        .container{
            flex-direction: row;
            gap: 4rem;
        }
    }
    
}