.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $padding-xs;
    padding: $padding-small;
    max-width: 200px;
    cursor: pointer;
    line-height: 1.25;
    .icon{
        color: $color-accent2;
    }
    .text{
        text-align: start !important;
    }
    &:hover, &.active{
        background-color: rgba($color-secondary, $alpha: 0.05);
        transform: translateY(-2px);
        transition: all 0.3s ease;
        color: $color-accent1;
        border-radius: 8px;
    }
}

.service-template{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 16rem);
    margin: calc($padding-big - 50px) 0;
    padding: 0 $padding-small;
    .text-buttons{
        color: $color-accent1;
        text-align: center;
    }
    &__icon{
        color: $color-accent2  ;
    }
    &__desc{
        margin-top: $padding-small;
        line-height: 1.3rem;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
            gap: $padding-small;
            text-align: center;
            li {
                padding-left: $padding-medium;
                position: relative;
                text-align: left;
                &:first-of-type{
                    margin-top: $padding-small;
                }
                &:last-of-type{
                    margin-bottom: $padding-small;
                }
                &::before{
                    position: absolute;
                    content: "";
                    left: 0%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 25px;
                    background-image: var(--signet-url);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    }
}


@media screen and (min-width: $media-medium) {
    .service-template{
        margin: $padding-big 0;
        padding: 0 $padding-medium;
        &__icon{
            height: 200px;
            width: 200px;
        }
        &__desc{
            max-width: 1000px;
            ul{
                li{
                    align-self: flex-start;
                }
            }
        }
        button{
            margin-top: $padding-medium;
        }
        &__icon{
            font-size: 4rem;
        }
    }
}