.subheadline{
    font-size: 2.0rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-family: $font-headlines;
    font-weight: normal;
    margin-top: $padding-small;
    margin-bottom: $padding-small;
    color: $color-primary-light;
    text-align: center;
}
.headline{
    font-size: 4.0rem;
    line-height: 4rem;
    text-transform: lowercase;
    font-family: $font-headlines;
    font-weight: 900;
    margin-top: $padding-small;
    margin-bottom: $padding-small;
    color: $color-primary-light;
}
.text{
    font-size: 1rem;
    line-height: 1.35rem;
    font-family: $font-primary;
    font-weight: normal;
    margin: $padding-xs;
    color: $color-secondary;
    text-align: center;
}
.text-buttons {
    font-size: 1.25rem;
    font-family: $font-primary;
    font-weight: 500;
    margin-top: $padding-xs;
    margin-bottom: $padding-xs;

}
.small-print{
    font-size: .8rem;
    line-height: 1rem;
    font-family: $font-primary;
    font-weight: normal;
    margin-top: $padding-xs;
    margin-bottom: $padding-xs;
    color: $color-secondary;
    text-align: center;
}