
$font-primary: 'sommet', sans-serif;
$font-headlines: 'sommet-rounded', sans-serif;


//colors
$color-primary: #3C4E59;
$color-primary-light: #95B8BF;
$color-secondary: #ffffff;
$color-accent1: #F2D8C2;
$color-accent2: #F2AF88;
$color-accent3: #A6837B;

//paddings
$padding-xs: .6rem;
$padding-small: 1.2rem;
$padding-medium: 4rem;
$padding-big: 10rem;


//media
$media-small: 481px;
$media-medium: 769px; 
$media-large: 1025px; 
$media-xlarge: 1201px; 